{% extends 'default.html' %} 

{% block title %} 
Chats 
{% endblock title %} 

{% block content %}
  <div class="container">
    <div class="menu">
      <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="chat-list">
      {% if chats %}
        {% for c in chats %}
          <div id="chat-list_item-{{ c.id }}" class="chat-list_item" chat-id="{{ c.id }}" members="{{ c.members_list }}">
            <h4>{{ c.title }}</h4>
          </div>
        {% endfor %}
      {% else %}
        <h3>пока ничего нет</h3>
      {% endif %}
    </div>
    <div class="chat-manage">
      <button id="chat-create" class="big-button">Добавить</button>
      <button id="chat-destroy" class="big-button">Удалить</button>
    </div>
    <div class="message-list"></div>
    <div class="message-sender">
      <form id="message-sender" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" id="author-id" value="{{ author }}">
        <input type="hidden" id="selected-chat-id" value="">
        <button type="submit" class="submit-button">Отправить</button>
      </form>
    </div>
  </div>

  <div id="create-chat-dialog" class="dialog-pad hidden">
    <div class="dialog-box">
      <div>
        <span>наименование</span>
        <input id="chat-title" type="text" maxlength="30">
      </div>
      <div id="user-list"></div>
      <button id="dialog-box__ok" class="btn">Ok</button>
      <button id="dialog-box__cancel" class="btn">Отмена</button>
    </div>
  </div>
{% endblock content %}