{% extends 'default.html' %} 

{% block title %} 
Profile
{% endblock title %} 

{% block content %}
 <div class="profile-card">
    <h2>Редактирование профиля, {{ user.username }}</h2>
    {% if profile.portrait %}
      <img src="{{ profile.portrait.url }}">
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="profile-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="save-button">Сохранить</button>
    </form>
  </div>
{% endblock content %}