body {
  margin: 0;
  padding: 0;
}

.container {
  top: 0;
  left: 0;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "n m"
    "l m"
    "l c"
    "a c";
  grid-template-columns: 30% 70%;
  grid-template-rows: 60px auto 60px 60px;
}

.menu {
  grid-area: n;
  background-color: #261a58;
}

.chat-list {
  grid-area: l;
  background-color: #033844;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

.message-list {
  grid-area: m;
  background-color: #0a2c26;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

.chat-manage {
  display: flex;
  grid-area: a;
  background-color: #334b64;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.message-sender {
  grid-area: c;
  background-color: #53bdeb;
  padding: 5px 10px;
  min-height: 110px;
  align-content: center;
}

.chat-list_item {
  height: 50px;
  cursor: pointer;
  color: #53bdeb;
  vertical-align: middle;
  text-align: start;
  padding: 5px;
  margin: 2px;
  background-color: #175b6b;
}

button {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  box-shadow: 2px 2px 6px rgba(2, 27, 44, 0.5);
  transform: translate(-2px, -2px);
}

.big-button {
  height: 40px;
  padding: 10px 40px;
  margin: auto 30px;
  background-color: #5970FF;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  
}

.tiny-button {
  width: 50px;
  height: 18px;
  background-color: #284e48;
  color: #fff;
  border: none;
  font-size: 11px;
  font-weight: 100;
}

.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.message-panel {
  display: flex;
  padding: 5px;
}

.shift{
  margin-left: 200px;
}

.unshift {
  margin-right: 200px;
}

.message-box {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.904);
  display:flex;
  flex-direction: column;
}

.own-box {
  background-color: #176b5b;
}

.another-box {
  background-color: #175b6b;
}

.author-info {
  overflow: hidden;
  white-space: nowrap;
  color: #53bdeb;
  align-self: flex-start;
  font-size: 14px;
}

.time-info {
  color: #aaa;
  float: right;
  font-size: 9px;
  align-self: flex-end;
  display:flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.message-text {
  color: #fff;
  align-self: center;
  margin: 5px 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.dialog-pad {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.dialog-box {
  background-color: #334b64;
  color: #fff;
  width: 300px;
  padding: 30px;
  overflow-y: auto;
  max-height: 400px;
  box-shadow: 4px 4px 10px rgba(0, 5, 12, 0.89);

  .btn {
    margin: 5px 10px;
    padding: 3px 10px;
    border-radius: 2px;
    color: white;
    background-color: #302172;
  }

  .btn:hover {
    background-color: #261a58;
    transform: scale(1.05);
  }

  input + label {
    margin: 1px 10px;
  }
}